[staticMenu footerMenu]
code = "footer-menu"
==
<footer class="mt-auto">
    <div class="container-fluid bg-green py-40" id="footer">
        <div class="container-lg">
            <div class="row g-sm-5">
                <div class="col-12 pb-4 col-sm-6 pb-sm-0 col-lg-4 col-xl-3">
                    <nav class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a href="{{ '2022-Knihovni-rad.pdf'|media }}" target="_blank" class="nav-link text-center text-sm-start">
                                Knihovní řád (PDF)
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ 'annual-reports'|page }}" class="nav-link text-center text-sm-start">
                                Výroční zprávy
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ '2019-Prohlaseni-o-pristupnosti.pdf'|media }}" target="_blank" class="nav-link text-center text-sm-start">
                                Prohlášení o přístupnosti (PDF)
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ 'gdpr'|page }}" class="nav-link text-center text-sm-start">
                                Zpracování osobních údajů
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="{{ 'gdpr-info'|page }}" class="nav-link text-center text-sm-start">
                                Obecné informace o GDPR
                            </a>
                        </li>
                    </nav>
                </div>

                <div class="border-1 border-start border-white col-12 col-sm-6 col-lg-4 col-xl-3">
                    <nav class="nav flex-column border-1 border-top border-left border-white pt-4 pt-sm-0">
                        <li class="nav-item">
                            <a href="https://www.galeriedraka.cz/" target="_blank" class="nav-link text-center text-sm-start">
                                Galerie Draka Trutnov
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="https://www.gamt.cz/Galerie-mesta-Trutnova.html" target="_blank" class="nav-link text-center text-sm-start">
                                Galerie města Trutnova
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="http://uffo.cz/" target="_blank" class="nav-link text-center text-sm-start">
                                UFFO
                            </a>
                        </li>
                    </nav>
                </div>

                <div class="logo d-none d-lg-flex col-lg-4 justify-content-lg-end col-xl-6">
                    <a href="{{ 'homepage'|page }}" class="d-block bg-white bg-yellow-hover transition"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid bg-black py-4">
        <div class="container-lg">
            <div class="d-md-flex justify-content-md-between align-items-md-center">
                <p class="mb-0 text-white ff-archivo fs-15 fw-medium text-center">
                    <span class="d-block d-sm-inline-block">
                        &copy; {{ "now"|date("Y") }}

                        <span class="d-none d-sm-inline-block mx-sm-2">
                            |
                        </span>
                    </span>

                    Městská knihovna s regionálními<br class="d-sm-none"> funkcemi v Trutnově
                </p>

                <p class="mb-0 signature mt-4 d-flex justify-content-center mt-md-0">
                    <a href="https://www.hucr.cz" target="_blank" class="d-block bg-white bg-white-hover transition"></a>
                </p>
            </div>
        </div>
    </div>
</footer>
