[staticMenu mainMenu]
code = "main-menu"
==
<header class="container-fluid py-4 position-relative bg-gray">
    <div class="container-lg d-flex justify-content-between align-items-center">
        <div id="logo">
            <a href="{{ 'homepage'|page }}" class="d-block bg-green bg-black-hover transition"></a>
        </div>

        <div id="menu-toggle" class="d-xl-none">
            <a href="#offcanvas" class="d-flex" data-bs-toggle="offcanvas">
                <i class="bi bi-list fs-50 lh-1 text-green"></i>
            </a>
        </div>

        <div class="offcanvas-xl offcanvas-end" id="offcanvas">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-green">Menu</h5>

                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" data-bs-target="#offcanvas"></button>
            </div>

            <div class="offcanvas-body">
                {% component "mainMenu" %}
            </div>
        </div>
    </div>
</header>
