<div class="event col">
    <div class="py-4 border-top border-1 border-green position-relative">
        <p class="img mb-22 overflow-hidden">
            {% if event.main_image %}
                <img src="{{ event.main_image.thumb(420, 205, {"mode": "crop"}) }}" alt="{{ image.description }}" class="img-fluid">
            {% else %}
                <img src="{{ 'assets/images/thumbs/0%s.jpg'|format(random(1, 9))|theme|resize(420, 205, {"mode": "crop"}) }}" alt="Titulní obrázek" class="img-fluid">
            {% endif %}
        </p>

        <h3 class="mb-0 text-green fs-30">
            {{ event.title }}
        </h3>

        <p class="mb-0">
            <a href="{{ 'event'|page({"slug": event.slug}) }}" class="stretched-link"></a>
        </p>
    </div>
</div>
