{% set pageNumber = pageNumber ? pageNumber + 1 : 2 %}

{% if pageNumber <= events.whereDate("start_at", "<=", "now"|date("Y-m-d")).paginate(6).lastPage %}
    <div class="mt-4 mt-xl-5">
        <button class="btn btn-outline-green d-flex align-items-center w-100 justify-content-center w-md-auto"
            data-request="onLoadMore"
            data-request-update="'events/past': '@#past-events', 'events/load-more': '#load-more'"
            data-request-data="page: {{ pageNumber }}">

            Zobrazit další <i class="bi bi-chevron-down fs-15 ms-2"></i>
        </button>
    </div>
{% endif %}
