<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide position-relative">
            <img src="{{ 'assets/images/banners/01.jpg'|theme }}" alt="" class="img-fluid h-sm-auto of-cover">

            <div class="container-lg position-absolute start-50 top-50 translate-middle">
                <p class="fs-32 text-uppercase text-center lh-sm text-white">
                    Pracujeme na nejvyšsích místech. <br>

                    <span class="fw-bold">
                        Chcete taky?
                    </span>
                </p>

                <p class="mb-0 mt-4 text-center">
                    <a href="{{ 'contact-us'|page }}" class="btn btn-blue text-uppercase">
                        kontaktujte nás
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
