<div class="container-fluid pt-5 overflow-hidden" id="crossroad">
    <div class="container-lg pt-xl-5">
        <h2 class="text-uppercase text-center mb-4 mb-xl-5">
            nabízime všechno pro bezpečnou práci ve výškách
        </h2>

        <div class="row row-cols-1 row-cols-md-2 g-4 links">
            <div class="col link">
                <div class="bg-blue bg-blue-light-hover transition p-4 position-relative h-100">
                    <a href="{{ 'seminars'|page }}" class="stretched-link">
                        <h3 class="text-uppercase text-white mb-1">
                            školení a kurzy
                        </h3>

                        <p class="mb-0 text-white fs-20 lh-sm">
                            Zajišťujeme školení pro práce ve výškách, nad volnou hloubkou a kurzy první pomoci.
                        </p>

                        <p class="mb-0 position-absolute end-0 bottom-0 d-flex">
                            <span class="bg-blue-light px-1 py-1 text-white">
                                <i class="bi bi-arrow-right-short fss-28 lh-1 d-flex"></i>
                            </span>
                        </p>
                    </a>
                </div>
            </div>

            <div class="col link">
                <div class="bg-blue-light bg-blue-hover transition p-4 position-relative h-100">
                    <a href="{{ 'oopp-inspections'|page }}" class="stretched-link">
                        <h3 class="text-uppercase text-white mb-1">
                            revize oopp
                        </h3>

                        <p class="mb-0 text-white fs-20 lh-sm">
                            Provádíme pravidelné revize OOPP (osobních ochranných pracovních prostředků) pro práce
                            ve výškách
                        </p>

                        <p class="mb-0 position-absolute end-0 bottom-0 d-flex">
                            <span class="bg-blue px-1 py-1 text-white">
                                <i class="bi bi-arrow-right-short fss-28 lh-1 d-flex"></i>
                            </span>
                        </p>
                    </a>
                </div>
            </div>

            <div class="col link">
                <div class="bg-red bg-yellow-hover transition p-4 position-relative h-100">
                    <a href="" class="stretched-link">
                        <h3 class="text-uppercase text-white mb-1">
                            eshop a poradenství
                        </h3>

                        <p class="mb-0 text-white fs-20 lh-sm">
                            Pomáháme s výběrem prostředků pro práce ve výškách tak, aby plně vyhovovaly vašim požadavkům
                        </p>

                        <p class="mb-0 position-absolute end-0 bottom-0 d-flex">
                            <span class="bg-yellow px-1 py-1 text-white">
                                <i class="bi bi-arrow-right-short fss-28 lh-1 d-flex"></i>
                            </span>
                        </p>
                    </a>
                </div>
            </div>

            <div class="col link">
                <div class="bg-yellow bg-red-hover transition p-4 position-relative h-100">
                    <a href="{{ 'work-at-heights'|page }}" class="stretched-link">
                        <h3 class="text-uppercase text-white mb-1">
                            práce ve výškách
                        </h3>

                        <p class="mb-0 text-white fs-20 lh-sm">
                            Co školíme i opravdu děláme a nabízíme provedení práce ve výškách
                        </p>

                        <p class="mb-0 position-absolute end-0 bottom-0 d-flex">
                            <span class="bg-red px-1 py-1 text-white">
                                <i class="bi bi-arrow-right-short fss-28 lh-1 d-flex"></i>
                            </span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
