<div class="container-fluid py-5 overflow-hidden" id="partners">
    <div class="container-lg py-xl-5">
        <h2 class="text-uppercase text-center mb-4 mb-xl-5">
            spolupracujeme s řadou firem i jednotlivců
        </h2>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-4">
            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>

            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>

            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>

            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>

            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>

            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>
        </div>

        <div class="mt-5 row">
            <div class="fs-20 text-black col col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                <p class="mb-4 fst-italic text-center">
                    “Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud.”
                </p>

                <p class="mb-0 text-center">
                    <span class="fw-bold">Jméno Příjmení</span> <br>
                    Pozice ve Společnosti, s.r.o.
                </p>
            </div>
        </div>
    </div>
</div>
